{% extends '_templates/base.njk' %}

{% block page_title %}Queen: Home{% endblock %}

{% block page_description %}Home page.{% endblock %}

{% block content %}
<div class="container">
  <h6>This website is information about the band Queen, an appreciation of their music, and a one stop shop for fans.</h6>
  <h2>Members</h2>
  <div class="row">
    {% for name in members.members %}
    <div class="col-sm-6 col-md-3">
      <div class="card mb-4">
        <div class="card-body text-center">
          <h5 class="card-title">{{ name.name }}</h5>
          <img class="img-fluid" src="img/members/{{name.imagebw}}">
          <a href="{{ relative_path }}members/{{name.slug}}.html" class="btn btn-primary" target="_blank">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Albums</h2>
<div class="container">
  {% include "_includes/albums.njk" %}
</div>
{% endblock %}