{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>John Deacon</h1>
  <p>Intro text here.</p>
  <h3>{{ members.members[3].description }}</h3>
</article>
{% endblock %}