h6, h2 {
  text-align: center;
  margin-top: 1rem;
}

h6 {
  margin-bottom: 2rem;
}

h2 {
  font-family: 'New Rocker', cursive;
  margin-bottom: 1rem;
  font-size: 45px;
}

.directions {
  text-align: center;
}

.btn {
  margin-top: 1rem;
}

.card-title {
  color: $primary;
}